* {
  --transition-duration: 700ms;
}
/*   Post   */
.post-title {
  font: normal normal normal 72px/1.25em "rozha one", serif;
  font-size: 72px;
  margin-bottom: 0;
  font-weight: bold;
  text-align: center;
}
.post-description {
  font: normal normal normal 20px/1.67em avenir-lt-w01_35-light1475496,
    avenir-lt-w05_35-light, sans-serif;
  font-size: 20px;
}

/*   Time   */
.time-grid {
  margin-top: 30px;
  margin-bottom: 10px;
}
.time-box {
  font: normal normal normal 40px/50px rubik-medium, sans-serif;
  background: rgba(173, 51, 60, 0.25);
  width: 877px;
  height: calc(100% - 24px);
  font-size: 40px;
  border: 7px solid rgba(173, 51, 60, 1);
  border-radius: 10px;
  padding: 5px 10px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
}
.time-number {
  height: 46.5px;
  font-size: 40px;
  line-height: 46.5px;
  border-radius: 4.65px;
  font-weight: bold;
}
.time-text {
  height: 38.75px;
  line-height: 38.75px;
  font-size: 15.5px;
}
.time-block-label {
  color: rgba(58, 17, 20, 1) !important;
  font-stretch: normal !important;
  z-index: 1;
  text-align: center;
}
.days,
.hours,
.mins,
.secs {
  width: 22%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
}
.separator {
  height: 46.5px;
  line-height: 46.5px;
  width: 4%;
  display: inline-block;
  vertical-align: top;
  font-size: 40px;
  font-weight: bold;
  color: rgba(58, 17, 20, 1) !important;
  text-align: center;
}

/*    Main Content   */
.main-content {
  background-color: rgba(173, 51, 60, 1);
}
.main-content .grid {
  margin-bottom: 30px;
}
.main-content h1 {
  line-height: 1.35em;
  text-align: center;
  font-size: 40px;
  letter-spacing: 0em;
  font: normal normal normal 40px/1.35em "rozha one", serif;
  color: white;
  font-weight: bold;
  margin-top: 150px;
  display: inline-block;
}
.main-content span {
  line-height: 1.875em;
  font-size: 20px !important;
  text-align: left;
  color: white;
  font: normal normal normal 15px/1.875em avenir-lt-w01_35-light1475496,
    avenir-lt-w05_35-light, sans-serif;
}
.img-women {
  width: 100%;
  height: 950px;
  object-fit: cover;
  object-position: 50% 50%;
}
.img-founder {
  width: 100%;
  height: 819px;
  object-fit: cover;
  object-position: 50% 50%;
}

/*     Road Map     */
.roadmap h1 {
  font-size: 56px !important;
  text-align: center;
  margin: 0;
  letter-spacing: 0em;
  font: normal normal normal 22px/1.41em "rozha one", serif;
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: bold;
  color: #ad333c;
}
.roadmap span {
  color: #ad333c;
  font-size: 18px !important;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  /* vertical-align: baseline; */
  background: transparent;
  line-height: 1.8em;
  text-align: center;
  font: normal normal normal 18px/1.75em avenir-lt-w01_35-light1475496,
    avenir-lt-w05_35-light, sans-serif;
}
.nft-box {
  margin-top: 70px !important;
  margin-bottom: 30px !important;
}
.nft-box img {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  border-radius: 50%;
  width: 121px;
  height: 121px;
}
.nft-box h2 {
  color: #ad333c;
  text-align: center;
  width: 100%;
  height: 70px;
  font-size: 20px !important;
  font: normal normal normal 50px/1.34em "rozha one", serif;
}
.nft-box p {
  text-align: center;
  font-size: 16px !important;
  color: #ad333c;
  font: normal normal normal 18px/1.75em avenir-lt-w01_35-light1475496,
    avenir-lt-w05_35-light, sans-serif;
}

/*       FAQ        */
.cover-color {
  background-color: rgba(255, 0, 0, 0.2);
  height: 480px;
  width: 100%;
  position: absolute;
}
.faq-bg {
  background-image: url("../../public/img/faq-bg.webp");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 480px;
}
.cover-color h1 {
  margin: 0;
  color: white;
  font: normal normal normal 40px/1.35em "rozha one", serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}
.cover-color span {
  margin: 0;
  margin-top: 15px;
  text-align: center;
  font: normal normal normal 18px/1.75em avenir-lt-w01_35-light1475496,
    avenir-lt-w05_35-light, sans-serif;
  color: white;
}
.faq-box {
  margin: 0;
  margin-top: 30px;
  color: rgb(173, 51, 60);
  font: 50px / 1.34em "rozha one", serif;
  padding: 0px !important;
}
